PORT=3000
NODE_ENV="development"
JWT_SECRET=orion-super-secret-key-change-me
DATABASE_URL="postgres://user:password@localhost:5432/db_name"

R2_ACCOUNT_ID=your_cloudflare_account_id
R2_ACCESS_KEY_ID=your_r2_access_key_id
R2_SECRET_ACCESS_KEY=your_r2_secret_access_key
R2_BUCKET_NAME=your_bucket_name
R2_PUBLIC_URL=https://pub-xxxx.r2.dev
